section#executions {
    padding: 50px;
    text-align: center;
}

@media (max-width: 768px) {
    section#executions {
        padding: 15px;
    }
}

#executions .container {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#executions .label {
    font-size: 17px;
    color: black;
    text-align: left;
    padding: 20px 0px;
}

#executions .fields {
    margin: 20px 0px;
}

#executions .label span {
    font-weight: 300;
    font-size: 17px;
}

#executions .label span.bold {
    font-weight: 700;
}

#executions .label i {
    font-weight: 300;
    font-size: 17px;
}

#executions .label a:hover {
    text-decoration: none;
    color: #337ab7;
}

#executions h1 {
    margin-bottom: 15px;
    text-align: left;
}

#executions .data-report {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px 50px;
    text-align: left;
}

@media (max-width: 768px) {
    #executions .data-report {
        padding: 0px 25px;
    }
}

#executions .data-report p {
    display: inline-block;
    text-align: left;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    #executions .data-report p {
        font-size: 12px;
    }
}

#executions .data-report p.bold {
    font-weight: 700;
}

#executions .header-chart {
    margin: 25px 0px;
}

#executions .header-chart div>span>p {
    margin-top: 10px;
    color: black;
}

#executions .header-chart div>span>p>b.green {
    color: green;
}

#executions .header-chart div>span>p>b.red {
    color: red;
}

#executions i.fa.fa-arrow-up {
    color: green;
    margin-left: 4px;
}

#executions i.fa.fa-arrow-down {
    color: red;
    margin-left: 4px;
}

#executions pre {
    font-size: 10px;
    text-align: left;
}

#executions .query {
    border: 1px solid #eee;
    margin: 5px;
    margin-bottom: 50px;
    padding: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

#executions .query .data-query {
    width: 100%;
    text-align: left;
    margin: 10px;
    border-radius: 7px;
}

#executions .query .panel {
    margin: 15px 0px;
}

#executions .query .panel-heading {
    cursor: pointer;
}

#executions .query .panel-body {
    display: none;
}

#executions .query .panel-body.show {
    display: block;
}

#executions .query p {
    display: inline;
    text-align: left;
    margin: 10px;
    font-size: 15px;
}

#executions querys-section>.container {
    margin-top: 50px;
    border-top: 6px solid #eee;
    border-radius: 0px;
    padding-top: 30px;
}

#executions query-directive .row p {
    display: block;
}

#executions #stats-table {
    font-size: 11px;
    margin: 0px 15px;
    width: calc(100% - 30px);
}

#executions #stats-table td.success {
    color: yellowgreen;
    font-weight: bolder;
}

#executions #stats-table td.error {
    color: red;
}

#executions .table-binds {
    background: white;
}

#executions #footer-table-stats {
    font-size: 11px;
    margin: 0px 15px;
    width: calc(100% - 30px);
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 3px;
    position: relative;
}

#executions #footer-table-stats p {
    margin: 0px 10px;
    text-align: left;
    display: inline;
}

#executions #footer-table-stats div.buttons {
    text-align: right;
    position: absolute;
    top: 3px;
    right: 6px;
}

#executions #footer-table-stats div.fields {
    text-align: left;
    margin: 6px;
}

#executions #footer-table-stats .fa-arrow-down {
    color: red;
}

#executions #footer-table-stats .fa-arrow-up {
    color: green;
}

#executions #footer-table-stats b.green {
    color: green;
}

#executions #footer-table-stats b.red {
    color: red;
}

#executions button {
    background: #3479b8;
    color: white;
}