<div ng-if="hic.loaded" class="container">
    <h1>Datos del informe</h1>
    <div class="data-report col-md-12 row">
        <span class="label">
            <a>
                <i class="fa fa-calendar"></i>
            </a>
            <span ng-bind="hic.data.HEADER.DATE"></span>
            <span class="bold">{{hic.data.HEADER.COMPARE_METHOD}}</span>
        </span>
        <div class="fields" ng-repeat="item in ::hic.data.HEADER.WORK">
            <p class="bold col-sm-3 col-xs-6">
                <span ng-bind="hic.firstUppercase(item[0])"></span>:</p>
            <p class="col-sm-3 col-xs-6">{{item[1]}}</p>
        </div>
    </div>
</div>